extends ../layouts/main-layout.pug

block styles 

block content 
    main
        include ../layouts/message-popup.pug  
        div.centered
            include ../layouts/index-menu-text.pug
            form(action="/generator", method="GET") 
                button.btn.index-button(type="submit") #{menuNames.form.generator}
            //TODO - Cambiar el action por el de saved pass.
            form(action="", method="GET") 
                button.btn.index-button(type="submit") #{menuNames.form.saved}
block scripts 