@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

main {
    padding: 1rem;
    margin: auto;
}

form {
    display: inline;
}

.centered {
    text-align: center;
}

.main-header {
    font-weight: bold;
    width: 100%;
    height: 3.5rem;
    background-color: #11c27e;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
}

.main-header__nav {
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-header__item a,
.main-header__item button {
    font: inherit;
    background: transparent;
    border: none;
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active,
.main-header__item button:hover,
.main-header__item button:active {
  color: #1808a5;
}

.mobile-nav {
    width: 30rem;
    height: 100vh;
    max-width: 90%;
    position: fixed;
    left: 0;
    top: 0;
    background: white;
    z-index: 10;
    padding: 2rem 1rem 1rem 2 rem;
    transform: translateX(-100%);
}

.mobile-nav.open {
    transition: transform 0.3s ease-in;
    transform: translateX(0);
}

.mobile-nav.close {
    transition: transform 0.3s ease-out;
    transform: translateX(-100%);
}

.mobile-nav__item-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.mobile-nav__item {
    margin: 1rem;
    padding: 0;
}

.mobile-nav__item a,
.mobile-nav__item button {
    font: inherit;
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 0.5rem 2 rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active,
.mobile-nav__item button:hover,
.mobile-nav__item button:active {
    background: #11c27e;
    color: white;
    border-radius: 3px;
}


#side-menu-toggle {
    border: 1px solid white;
    font: inherit;
    padding: 0.5rem;
    display: block;
    background: transparent;
    color: white;
    cursor: pointer;
}

#side-menu-toggle:focus {
    outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
    color: #1808a5;
    border-color: #1808a5;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: none;
}

.btn {
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    font: inherit;
    border: 1px solid #11c27e;
    color: #11c27e;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    background-color: #11c27e;
    color: white;
}

.btn:disabled {
    visibility: hidden;
}

.index-button {
    padding: 0.75rem 1.5rem;
    font-size: large;
    font-weight: bold;
    border: 2px solid #009159;
    color: #009159;
    margin-right: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 12px;
}

.user-message {
    margin: auto;
    font-weight: bold;
    width: 25rem;
    max-width: 90%;
    border: 1px solid #2e62a7;
    padding: 0.5rem;
    border-radius: 3px;
    background: #a6e3ff;
    text-align: center;
}

.user-message--error {
    border-color: red;
    background: rgb(255, 176, 176);
    color: red;
}

.text {
    font-size: medium;
    font-weight: bold;
}

.ul-text {
    font-size: medium;
    font-weight: bold;
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
    list-style-type: square;
    list-style-position: inside;
}

.li-text {
    font-size: inherit;
    font-weight: inherit;
    margin-top: 1rem;
}

@media (min-width: 800px) {
    .main-header__nav {
      display: flex;
    }

    #side-menu-toggle {
        display: none;
    }
}