extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/error.css")

block content 
    main
        div.centered
            include ../layouts/error.pug
block scripts 